flows.json
[
    {
        "id": "92ccb742f557b4af",
        "type": "tab",
        "label": "FYP flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6fc862fbe9a67cc0",
        "type": "ui_switch",
        "z": "92ccb742f557b4af",
        "name": "",
        "label": "FAN",
        "tooltip": "",
        "group": "20a49b311b58fd65",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "fan_on",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "fan_off",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 970,
        "y": 280,
        "wires": [
            [
                "6d3e6a8114252128"
            ]
        ]
    },
    {
        "id": "cab87e7c6e18c56d",
        "type": "function",
        "z": "92ccb742f557b4af",
        "name": "AI CONSULT",
        "func": "// Retrieve the pre-calculated botanical analysis notice\nmsg.payload = flow.get(\"last_ai_analysis\") || \"🔄 Generating Consultation...\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 100,
        "wires": [
            [
                "7cc279faefa927b8",
                "f8daedd12cb5a8e9"
            ]
        ]
    },
    {
        "id": "38faecbab3d9df45",
        "type": "ui_chart",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 10,
        "width": 11,
        "height": 5,
        "label": "BAR CHART FUNCTION",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0eaa10",
            "#88b663",
            "#d4e8da",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 570,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "4bf8f71f54aac1e7",
        "type": "ui_button",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 7,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "MANUAL",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mode_manual",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 920,
        "y": 400,
        "wires": [
            [
                "6d3e6a8114252128"
            ]
        ]
    },
    {
        "id": "e2e69352dd1d4869",
        "type": "ui_button",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "AUTO",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mode_threshold",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 890,
        "y": 460,
        "wires": [
            [
                "6d3e6a8114252128"
            ]
        ]
    },
    {
        "id": "c199f7e3ee91bf3a",
        "type": "function",
        "z": "92ccb742f557b4af",
        "name": "ELEVENLABS PAYLOAD",
        "func": "// 1. Pull current live metrics from memory\nlet temp = parseFloat(flow.get(\"latest_temp\") || 100);\nlet hum = parseFloat(flow.get(\"latest_hum\") || 70.2);\nlet soil = parseInt(flow.get(\"latest_soil\") || 9);\n\nlet advice = \"\";\n\n// 2. Data Analytics Decision Tree Logic (Agricultural Consultation Focus)\nif (temp > 30 && soil < 40) {\n    advice = `Botanical Consultation: Ambient temperature is critical at ${temp}C, causing rapid soil moisture depletion down to ${soil}%. The high heat load is putting your crops at risk of heat stress. I highly recommend engaging the exhaust fan immediately to lower the ambient heat index.`;\n} else if (temp > 30) {\n    advice = `Botanical Consultation: High thermal threshold detected at ${temp}C. While soil hydration is currently stable, sustained ambient heat can accelerate transpirational stress. Activating the greenhouse exhaust fan is recommended to restore optimal climate balance.`;\n} else if (soil < 40) {\n    advice = `Botanical Consultation: Soil moisture levels have dropped to an insufficient ${soil}%. The roots are searching for hydration, which will slow down overall biomass accumulation. Please look into watering the greenhouse beds soon to maintain soil health.`;\n} else {\n    advice = `Botanical Consultation: All environmental core parameters are perfectly balanced. Temperature is ${temp}C, Humidity is ${hum}%, and Soil Moisture is ${soil}%. The greenhouse microclimate is currently optimal for maximum crop growth.`;\n}\n\n// 3. Construct clean standard JSON payload for ElevenLabs TTS\nmsg.headers = {\n    \"xi-api-key\": \"0b086fcdb95972d164fbefa31e1dd75ce7c80d09c0c4257634515a57f8e4cdf1\",\n    \"Content-Type\": \"application/json\",\n    \"accept\": \"application/json\"\n};\n\nmsg.payload = {\n    text: advice,\n    model_id: \"eleven_monolingual_v1\",\n    voice_settings: {\n        stability: 0.5,\n        similarity_boost: 0.5\n    }\n};\n\n// Store the plain text analysis so your UI can display it immediately\nflow.set(\"last_ai_analysis\", advice);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 40,
        "wires": [
            [
                "7c274d16fce869f8"
            ]
        ]
    },
    {
        "id": "7c274d16fce869f8",
        "type": "http request",
        "z": "92ccb742f557b4af",
        "name": "",
        "method": "POST",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "https://api.elevenlabs.io/v1/text-to-speech/21m00Tcm4TlvDq8ikWAM",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 970,
        "y": 40,
        "wires": [
            [
                "cab87e7c6e18c56d"
            ]
        ]
    },
    {
        "id": "7cc279faefa927b8",
        "type": "debug",
        "z": "92ccb742f557b4af",
        "name": "debug for elevenlabs",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 40,
        "wires": []
    },
    {
        "id": "6d3e6a8114252128",
        "type": "mqtt out",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/greenhouse/cmd",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "380df999ab285de9",
        "x": 1340,
        "y": 360,
        "wires": []
    },
    {
        "id": "451c3c569bc9fdb8",
        "type": "mqtt in",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "380df999ab285de9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 280,
        "wires": [
            [
                "38faecbab3d9df45",
                "036dd4b267810dd3",
                "f6277b1353c0115a",
                "3338713d89ce047e"
            ]
        ]
    },
    {
        "id": "036dd4b267810dd3",
        "type": "ui_gauge",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 1,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "TEMP GAUGE",
        "label": "*C",
        "format": "{{value}}",
        "min": 0,
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 240,
        "wires": []
    },
    {
        "id": "95a128371c5e97d3",
        "type": "ui_gauge",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "HUMID GAUGE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 300,
        "y": 400,
        "wires": []
    },
    {
        "id": "acc21d411fc04dda",
        "type": "ui_gauge",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 15,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "SOIL GAUGE",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 320,
        "y": 560,
        "wires": []
    },
    {
        "id": "f8daedd12cb5a8e9",
        "type": "ui_text",
        "z": "92ccb742f557b4af",
        "group": "20a49b311b58fd65",
        "order": 3,
        "width": 12,
        "height": 2,
        "name": "",
        "label": "AI Decision: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1190,
        "y": 100,
        "wires": []
    },
    {
        "id": "1ca7cbda715bf697",
        "type": "ui_text",
        "z": "92ccb742f557b4af",
        "group": "20a49b311b58fd65",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "System Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 340,
        "y": 700,
        "wires": []
    },
    {
        "id": "6b1b30c4e8b721ae",
        "type": "mqtt in",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/humidity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "380df999ab285de9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 440,
        "wires": [
            [
                "95a128371c5e97d3",
                "38faecbab3d9df45",
                "f6277b1353c0115a",
                "1c41736cb41e6f09"
            ]
        ]
    },
    {
        "id": "35904e50e6548dd6",
        "type": "mqtt in",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/soil",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "380df999ab285de9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 600,
        "wires": [
            [
                "acc21d411fc04dda",
                "38faecbab3d9df45",
                "f6277b1353c0115a",
                "1c41736cb41e6f09",
                "753778164128f8bb"
            ]
        ]
    },
    {
        "id": "c1af884df2eb17c3",
        "type": "mqtt in",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/mode",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "380df999ab285de9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 700,
        "wires": [
            [
                "1ca7cbda715bf697",
                "f6277b1353c0115a"
            ]
        ]
    },
    {
        "id": "f6277b1353c0115a",
        "type": "function",
        "z": "92ccb742f557b4af",
        "name": "Store Sensor Data",
        "func": "if (msg.topic === \"biot/shaiful/temp\") {\n    flow.set(\"latest_temp\", msg.payload);\n} else if (msg.topic === \"biot/shaiful/humidity\") {\n    flow.set(\"latest_hum\", msg.payload);\n} else if (msg.topic === \"biot/shaiful/soil\") {\n    flow.set(\"latest_soil\", msg.payload);\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "f32f06948914ff06",
        "type": "ui_button",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 9,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "AI INJECT",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "mode_ai",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 490,
        "y": 40,
        "wires": [
            [
                "c199f7e3ee91bf3a"
            ]
        ]
    },
    {
        "id": "3338713d89ce047e",
        "type": "function",
        "z": "92ccb742f557b4af",
        "name": "Build Firebase Payload",
        "func": "let temp = flow.get(\"latest_temp\") || 0;\nlet hum = flow.get(\"latest_hum\") || 0;\nlet soil = flow.get(\"latest_soil\") || 0;\nlet mode = flow.get(\"latest_mode\") || \"Unknown\";\nlet fan = flow.get(\"latest_fan\") || \"Unknown\";\n\nmsg.payload = {\n    timestamp: new Date().toLocaleString(),\n    temperature: parseFloat(temp),\n    humidity: parseFloat(hum),\n    soil_moisture: parseInt(soil),\n    system_mode: mode,\n    fan_state: fan\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 100,
        "wires": [
            [
                "5b615a7d76211097"
            ]
        ]
    },
    {
        "id": "5b615a7d76211097",
        "type": "http request",
        "z": "92ccb742f557b4af",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://smart-greenhouse-192a0-default-rtdb.firebaseio.com/logs.json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 370,
        "y": 100,
        "wires": [
            [
                "d0fe201f50178d0d"
            ]
        ]
    },
    {
        "id": "d0fe201f50178d0d",
        "type": "debug",
        "z": "92ccb742f557b4af",
        "name": "DEBUG FIREBASE",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "434012bf6b62a840",
        "type": "mqtt in",
        "z": "92ccb742f557b4af",
        "name": "",
        "topic": "biot/shaiful/fan_status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "380df999ab285de9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 680,
        "y": 760,
        "wires": [
            [
                "12285a0dc9a8ba6a"
            ]
        ]
    },
    {
        "id": "1c41736cb41e6f09",
        "type": "ui_chart",
        "z": "92ccb742f557b4af",
        "name": "",
        "group": "20a49b311b58fd65",
        "order": 2,
        "width": 11,
        "height": 4,
        "label": "CHART FUNCTION",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0eaa10",
            "#88b663",
            "#d4e8da",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 560,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "48310015e4f500af",
        "type": "ui_toast",
        "z": "92ccb742f557b4af",
        "position": "top right",
        "displayTime": "5",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 830,
        "y": 620,
        "wires": []
    },
    {
        "id": "753778164128f8bb",
        "type": "switch",
        "z": "92ccb742f557b4af",
        "name": "SOIL NOTIFICATION",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "20",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "d090e6b55948ddd3"
            ]
        ]
    },
    {
        "id": "d090e6b55948ddd3",
        "type": "change",
        "z": "92ccb742f557b4af",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "⚠️ CRITICAL ALERT: Greenhouse soil moisture is dangerously low! Please water the crop immediately.",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 680,
        "wires": [
            [
                "48310015e4f500af"
            ]
        ]
    },
    {
        "id": "12285a0dc9a8ba6a",
        "type": "ui_text",
        "z": "92ccb742f557b4af",
        "group": "20a49b311b58fd65",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "FAN STATUS: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 900,
        "y": 760,
        "wires": []
    },
    {
        "id": "c306b431f9dfecee",
        "type": "ui_spacer",
        "z": "92ccb742f557b4af",
        "name": "spacer",
        "group": "20a49b311b58fd65",
        "order": 12,
        "width": 9,
        "height": 1
    },
    {
        "id": "7f65fe6c2c4a0282",
        "type": "ui_spacer",
        "z": "92ccb742f557b4af",
        "name": "spacer",
        "group": "20a49b311b58fd65",
        "order": 14,
        "width": 9,
        "height": 1
    },
    {
        "id": "43b4eb1a84455064",
        "type": "ui_spacer",
        "z": "92ccb742f557b4af",
        "name": "spacer",
        "group": "20a49b311b58fd65",
        "order": 16,
        "width": 12,
        "height": 1
    },
    {
        "id": "5bcc3c395c131695",
        "type": "ui_spacer",
        "z": "92ccb742f557b4af",
        "name": "spacer",
        "group": "20a49b311b58fd65",
        "order": 17,
        "width": 12,
        "height": 1
    },
    {
        "id": "1ea410819b3ef0e3",
        "type": "ui_spacer",
        "z": "92ccb742f557b4af",
        "name": "spacer",
        "group": "20a49b311b58fd65",
        "order": 18,
        "width": 12,
        "height": 1
    },
    {
        "id": "20a49b311b58fd65",
        "type": "ui_group",
        "name": "Greenhouse",
        "tab": "9a496b99242ee7f7",
        "order": 1,
        "disp": true,
        "width": 27,
        "collapse": false,
        "className": ""
    },
    {
        "id": "380df999ab285de9",
        "type": "mqtt-broker",
        "name": "hivemq",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9a496b99242ee7f7",
        "type": "ui_tab",
        "name": "FYP",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "84f05615b4b7e555",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]